name: Copy to Quartz clone

on:
  push:
    branches:
      - main  # or your default branch

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout obsidian-vault
        uses: actions/checkout@v2
        with:
          path: obsidian-vault

      - name: Checkout obsidian-quartz
        uses: actions/checkout@v2
        with:
          repository: wongd-hub/obsidian-quartz
          path: obsidian-quartz
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Copy obsidian-vault contents to obsidian-quartz/content
        run: |
          rsync -av --progress obsidian-vault/ obsidian-quartz/content/ --exclude notes --exclude private --exclude templates --exclude _index.md

      - name: Commit and push to repo 2
        run: |
          cd obsidian-quartz
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Action"
          git remote set-url origin https://${{ secrets.REPO_ACCESS_TOKEN }}@github.com/wongd-hub/obsidian-quartz.git
          git add .
          git commit -m "Sync obsidian-vault to obsidian-quartz"
          git push
